form {
    max-width: 300px;
    margin: 10px auto;
    padding: 10px 20px;
    background: #f4f7f8;
    border-radius: 8px;
  }
  p {
    font-size: 10px;
    color: red;
  }
  
  .has-text-danger{
    color: #d0021b!important;
  }
  
  select {
    height: 36px;
  }
  
  button {
    background-color: #4bc970;
    text-align: center;
    font-style: normal;
    border-radius: 5px;
    width: 100%;
    border: 1px solid #3ac162;
    border-width: 1px 1px 3px;
    box-shadow: 0 -1px 0 rgba(255, 255, 255, 0.1) inset;
    margin-bottom: 10px;
  }
  
  @media screen and (min-width: 480px) {
    form {
      max-width: 480px;
    }
  }
  
  a{
    cursor:pointer;
  }